@model Day1AttrRoute.Models.ApplicationUser

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<h1>@Model.UserName</h1>

@if (ViewBag.isFriend)
{
    <h4>You are both currently friends.</h4>
}
else
{
    using (Html.BeginForm())
    {
        <input type="submit" value="Add as a friend" class="btn btn-danger" />
    }
}
